.main{
    padding: 0% 0%
}


.header{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    padding: 0% 10%
}

.header hr{
    width: 40%;
}

.obj h1{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10%;

}

.obj hr{
    width: 40%;
}

.obj{
    padding: 0% 10%
}

.act h1{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10%;

}

.act hr{
    width: 40%;
}

.act{
    padding: 0% 10%
}