
.header{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    padding: 2% 10%;
    color: #0f5531;
}

.header p{
    color: #666666
}

.header hr{
    width: 40%;
}

.obj h1{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10%;
    color: #0f5531
}

.obj li{
    color: #666666
}

.obj hr{
    width: 40%;
}

.obj{
    padding: 0% 10%
}

.act h1{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10%;
    color: #0f5531
}

.act hr{
    width: 40%;
    
}

.act{
    padding: 0% 10%;
    color: #666666
}