.header{
    background-color: black;
    color: white;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-weight: 1;
    font-size: 300%;
}

.header h3{
    font-weight: 1;
}

.carrusel{
    background-color: blue;
    padding: 10%

}