


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

.footer hr{
    width: 40%;
}

.footer h2{
        font-weight: 1;
}

.footer h4{
    font-weight: 1;
}