.main{
    display: flex; 
    flex-direction: column;
    justify-content: center;
   
    padding: 0% 10%;
}



.main hr{
    width: 40%;
}
.main h1{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.list{

    padding: 0% 10%;
    padding-bottom: 2%;
}

.list div{
    width: 40%;
    height: 200px;
    border: 1px solid black;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin: 1%
}

.list Link{
    text-decoration: none;
    text-decoration-line: none ;
}

.list h3{
    font-weight: 1;
}


.Link{
    text-decoration: none;
    
}